<mtapp:setting
	id="rebuild_prevnext_entry"
	label="<__trans phrase="Rebuild prev/next entries">">
	<input type="checkbox" id="rebuild_prevnext_entry" name="rebuild_prevnext_entry" value="1" <mt:if name="rebuild_prevnext_entry">checked="checked"</mt:if> />
	<label for="rebuild_prevnext_entry"><__trans phrase="Rebuild prev/next entries in same category when entry was saved."></label>
</mtapp:setting>
